{%  extends "base.html.twig" %}

{% block title   %}

	today

{% endblock %}

{% block body    %}
	<div class="container" style="width:500px;">
		<div class="table-container">

			<table id="tbstyle">
				<tbody>
				<tr>
					<th>Currency</th>
					<th>rates</th>
				</tr>

				{% for curr,rate in currency %}
					<tr>
						<td>{{ currencies[curr] }} </td>
						<td>{{ rate }}  </td>


					</tr>
				{% endfor %}
				</tbody>
			</table>

		</div>
	</div>
{% endblock %}

